@import "./reset";
@import "./variables";

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: $body-color;
  color: $light;
  letter-spacing: 0.04rem;
  margin-bottom: 0px;
  @media #{$xs-layout} {
    padding: {
      top: 1rem;
      left: 1rem;
      right: 1rem;
      box-shadow: 0px;
    }
  }

  @media #{$md-layout-up} {
    padding: {
      top: 1rem;
      left: 100px;
      right: 100px;
      box-shadow: 0px;
    }
  }
}

main {
  @media #{$sm-layout-up} {
    width: 80%;
    margin: auto;
  }
  @media #{$lg-layout-up} {
    width: 50%;
    margin: auto;
  }
}

@import "./header";
@import "./score";
@import "./result";
@import "./player_area";
@import "./footer";
